/**
 * Navigation Styles
 **/
  
/* colors */
$tenebrae: 	black;
$lux: 		white;
$hover: 	#0f0;
$hoverBg: 	#293e45;

.main-navigation, .menu-item, #site-navigation {
	background-color: $tenebrae;
	
	a {
		color: $lux;	
		background-color: $tenebrae;
	}
	a:hover {
		color: $hover;
		background-color: $tenebrae;	
	}
}

// pagebuilder covered the memu pop up
.main-navigation, .menu {
	z-index: 200 !important;
}